<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk Image Upload</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Cyberpunk Image Upload</h1>
        {% if success %}
            <div class="success">{{ success }}</div>
        {% endif %}
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form action="/" method="post" enctype="multipart/form-data">
            <!-- Hidden file input -->
            <input type="file" name="file" id="fileInput" accept="image/*">
            <!-- Visible button to trigger file input -->
            <label for="fileInput" class="fileInputLabel"><input type="submit" value="Upload"></label>
        </form>
        {% if filename %}
            <div class="uploaded-image">
                <h2>Uploaded Image:</h2>
                <img src="{{ filename }}" alt="Uploaded Image">
            </div>
        {% endif %}
    </div>
</body>
</html>